

<p>
<%= link_to "Sign out", destroy_owner_session_path, :method => :delete %>
</p>

<p>

  <%= image_tag @post.avatar_url(:masthead).to_s %>

</p>
 
 
<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>
<p>
  <strong>Street:</strong>
  <%= @post.street %>
</p>
 
<p>
  <strong>City:</strong>
  <%= @post.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @post.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @post.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @post.phone %>
</p>



<%= link_to 'Back', posts_path %>
 <%= link_to 'Edit', edit_post_path(@post) %>